.wrap{  height:750px;  width: 100%;  background: url("../images/bg.jpg") no-repeat;background-size: cover;padding-top:100px;}
.signup{width: 790px;margin:0 auto;height: 451px;box-shadow: 0 0 15px 5px   #555;}
.signup-left{width: 40%;height:inherit;background: url("../images/bg-jianbian.jpg") repeat-x;padding:40px 25px;color: #fff;}
.signup-right{width:60%;height:inherit;background-color: #f6f6f6;padding:40px 25px;}
.signup-tit{font-size: 26px;margin-top: 30px;margin-bottom:30px;font-weight: bold;color: #ECECEC}
.signup-ifo{}
.signup-ifo li{padding:18px 40px;background: url("../images/ico-1.png") left center no-repeat;font-size: 16px;}
.signup-right{text-align: center;}
.signup-right h2{font-size: 24px;letter-spacing: 0.8em;font-family: "Microsoft YaHei", "微软雅黑";font-weight: bold;margin-bottom: 30px;}
.login-mark{margin-top: 5px;margin-bottom: 18px;text-align: left;}
.login-btn{margin-left: 50px;}
.login-submit button{padding:5px 30px; }

/*验证*/

.signup-right span{text-align:left;!important;color:red;}